In [1]:
import pandas as pd
from apyori import apriori

In [2]:
data_frame = pd.read_csv('dataset/market_basket.csv', header=None)
data_frame.head()

      0      1      2       3     4      5
0  Wine  Chips  Bread  Butter  Milk  Apple
1  Wine    NaN  Bread  Butter  Milk    NaN
2   NaN    NaN  Bread  Butter  Milk    NaN
3   NaN  Chips    NaN  Butter   NaN  Apple
4  Wine  Chips  Bread  Butter  Milk  Apple

In [3]:
data_frame.shape

(22, 6)

In [4]:
lsts = []
for i in range(0, 22):
    lsts.append([str(data_frame.values[i, j]) for j in range(0, 6)])

print(lsts)

[['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'nan'], ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'], ['nan', 'Chips', 'nan', 'Butter', 'nan', 'Apple'], ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'], ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'], ['Wine', 'Chips', 'nan', 'nan', 'Milk', 'nan'], ['Wine', 'nan', 'Bread', 'nan', 'nan', 'Apple'], ['nan', 'nan', 'Bread', 'Butter', 'Milk', 'nan'], ['Wine', 'Chips', 'Bread', 'Butter', 'nan', 'Apple'], ['Wine', 'nan', 'nan', 'Butter', 'Milk', 'Apple'], ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'nan', 'Bread', 'nan', 'Milk', 'nan'], ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['nan', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['nan', 'Chips', 'nan', 'Butter', 'Milk', 'Apple'], ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'nan', 'Bread', 'Butter', 'Milk', 'Apple'], ['Wine', 'Chips', 'Bread', 'nan', 'Milk', 'Apple'], ['nan', 'Chips', 'nan', 'nan', 'nan', 'nan']]

In [5]:
asscsn_rules = apriori(lsts, min_support=0.50, min_confidence=0.7, min_lift=1.2, min_length=2)
asscsn_results = list(asscsn_rules)

In [6]:
import json

print(json.dumps(asscsn_results, default=str, indent=4))

[
    [
        "frozenset({'Wine', 'Apple', 'Bread'})",
        0.5,
        [
            [
                "frozenset({'Apple'})",
                "frozenset({'Wine', 'Bread'})",
                0.7333333333333334,
                1.241025641025641
            ],
            [
                "frozenset({'Apple', 'Bread'})",
                "frozenset({'Wine'})",
                0.9166666666666667,
                1.2604166666666667
            ],
            [
                "frozenset({'Wine', 'Apple'})",
                "frozenset({'Bread'})",
                0.9166666666666667,
                1.2604166666666667
            ],
            [
                "frozenset({'Wine', 'Bread'})",
                "frozenset({'Apple'})",
                0.8461538461538461,
                1.241025641025641
            ]
        ]
    ]
]